# Gradle
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/externalNativeBuild/
android/.cxx/
*.apk
*.aab

# Room / misc
*.hprof

# Python
__pycache__/
*.pyc
